.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}

.description {
  color: rgb(66, 61, 61);
}

.description h2{
  font-size: 2em;
  margin-bottom: 20px;
}

.description p + p{
  margin-top: 10px;
}