.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}

.description {
  color: rgb(66, 61, 61);
}

.description h2{
  font-size: 2em;
  margin-bottom: 20px;
}

.description p + p{
  margin-top: 10px;
}

.status {
  margin-bottom: 20px;
}

.statusTitle {
  font-size: 1.3em;
}

.statusText {
  font-weight: 500;
}

.statusText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.statusInputField {
  font-size: 1.4em;
}